.container {
  width: 1030px;
  padding-top: 150px;
  margin: 0 auto 100px;
}

.headerTitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 50px;
}

.prodCount {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}


/*   Product List   */
.prodList {
  display: grid;
  grid-template-columns: repeat(4, 249px);
  column-gap: 10px;
  row-gap: 40px;
  place-content: center;
}

.prodItem {
  width: 249px;
  height: auto;
  position: relative;
}

.imgContainer {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prodInfo {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.theme {
  color: var(--point-color);
  font-size: 14px;
  padding-bottom: 3px;
  text-transform: uppercase;
}

.prodTitle {
  font-weight: normal;
  font-size: 16px;
  height: 43px;
}

.prodCost {
  font-size: 20px;
  margin-top: 5px;
}

.cartBtn {
  position: absolute;
  right: 16px;
  bottom: 130px;
  background-color: var(--point-color);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
}

.cartBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@media screen and (max-width: 360px) {
  .container {
    width: 360px;
    padding: 100px 17px;
  }
  
  .headerTitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .prodCount {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  
  /*   Product List   */
  .prodList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 40px;
    place-content: start;
  }
  
  .prodItem {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .imgContainer {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .imgContainer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prodInfo {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  
  .theme {
    color: var(--point-color);
    font-size: 12px;
    padding-bottom: 3px;
    text-transform: uppercase;
  }
  
  .prodTitle {
    font-weight: normal;
    font-size: 14px;
    height: 50px;
  }
  
  .prodCost {
    font-size: 18px;
    margin-top: 0px;
  }
  
  .cartBtn {
    position: absolute;
    right: 10px;
    bottom: 115px;
    background-color: var(--point-color);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    padding: 7px;
  }
  
  .cartBtn > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}