:root {
  --point-color: #A38568;
  --background-color: #fff;
  --menu-items-color: #555;
}


/*   Sidebar   */
.sidebar {
  background-color: #BCB6F0;
  width: 1255px;
  height: 560px;
  border-radius: 12px;
  position: fixed;
  top: 15px;
  left: 60px;
  z-index: 999;
  padding: 20px;
}

.closeBtn {
  width: 30px;
  height: 30px;
  margin: 0 10px 20px;
}

.closeBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container{
  width: 297px;
  height: 462px;
  background-color: var(--background-color);
  border-radius: 18px;
  padding: 40px 20px 0;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 297px);
  column-gap: 10px;
}


/*   Hide Mypage   */
.headerTitle {
  font-size: 18px;
  text-align: center;
  margin: 50px auto;
}

.loginBtn {
  display: block;
  width: 100%;
  height: 54px;
  border-radius: 8px;
  line-height: 54px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: var(--point-color);
  color: #fff;
}


/*   Show Mypage   */
.userImgContainer {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 30px;
}

.userImgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stateContainer {
  width: 257px;
  height: auto;
  margin-top: 50px;
}

.stateContainer > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menuList {
  margin-top: 50px;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.menuItem > strong {
  font-size: 13px;
  font-weight: 600;
  color: var(--menu-items-color);
}

.menuItem > span {
  font-size: 13px;
  color: var(--menu-items-color);
}


/*  User Record   */
.recentContainer {
  height: 110px;
  margin-bottom: 50px;
}

.recentContainer > .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 7px;
  overflow: hidden;
}

.cartContainer {
  height: 250px;
  overflow: hidden;
}

.cartContainer > .title {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moreBtn {
  width: 14px;
  height: 14px;
}

.moreBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cartContainer > .grid {
  display: grid;
  grid-template-columns: repeat(3, 79px);
  grid-template-rows: repeat(2, 120px);
  column-gap: 10px;
  overflow: hidden;
  margin-top: 8px;
}

.cartItem {
  width: 100%;
  height: 120px;
  text-decoration: none;
}

.cartItem > .imgContainer {
  width: 100%;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
}

.cartItem > .imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartItem > span {
  font-size: 14px;
}


/*   Category   */
.category > .grid {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  row-gap: 40px;
  justify-content: space-between;
  padding-top: 20px;
}

.categoryItem {
  display: block;
  width: 70px;
  height: 70px;
  text-decoration: none;
  text-align: center;
}

.categoryItem > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.categoryItem > span {
  font-size: 12px;
}


/*   Theme   */
.theme {
  display: grid;
  grid-template-rows: repeat(2, 240px);
}

.themeContainer > .title {
  font-size: 15px;
  font-weight: 600;
}

.themeContainer > .grid {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  row-gap: 20px;
  padding-top: 5px;
}

.themeItem {
  font-size: 13px;
  width: 60px;
  height: auto;
  background-color: #f4f4f4;
  padding: 10px 0;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
}

.mbti {
  font-size: 15px;
  padding: 5px 0;
}